<h3>Form for <%= @category.name %> category</h3>
<%= form_for [@category,@user] do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :father_name %><br/>
      <%= f.text_field :father_name %>
    </p>
    <p>
      <%= f.label :mother_name %><br/>
      <%= f.text_field :mother_name %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :age %><br/>
      <%= f.text_field :age %>
    </p>
    <p>
      <%= f.label :education %><br/>
      <%= f.text_field :education %>
    </p>
    <p>
      <%= f.label :nationality %><br/>
      <%= f.text_field :nationality %>
    </p>
    <p>
      <%= f.submit "Add User" %>
    </p>
<% end  %>
<br/>
<br/>
<%= link_to "Back", @category %>